.cls-1 {
    fill:#d33939;
}
.cls-2 {
    fill:#7a7a7a;
}
.cls-3 {
    fill:#440a0a;
}
.cls-4 {
    fill:#d8d2d2;
}
.cls-5 {
    fill:none;
    stroke:#7a7a7a;
    stroke-miterlimit:10;
}
.cls-6 {
    fill:#fff;
}
.cls-7 {
    fill:#138b32;
}
.cls-8 {
    fill:#f0ce31;
}